.tracklist {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  margin-bottom: 30px;
  width: 100%;
  /* border: solid rgb(234, 0, 255); */
}

.music-card {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* border: solid yellow; */
  margin-top: 25px;
}

.music-card-name {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
  /* border: solid lightcoral; */
  width: 30%;
  min-width: 100px;
  height: 100%;
  font-size: 19px;
  margin-left: 15px;
}

.audio-album {
  display: flex;
  justify-content: center;
  /* border: solid red; */
  width: 60%;
  height: 60px;
}

.music-card label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  font-size: 20px;
  margin-right: 15px;
  /* border: solid seagreen; */
}

.favorite-album {
  height: 50%;
  width: 50%;
  margin-left: 5px;
}

audio {
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
  box-shadow: 2px 1px 3px 0 rgb(28, 202, 255);
  transition: all 0.7s linear;
  width: 75%;
  min-width: 150px;
  height: 100%;
}

audio:hover, audio:focus, audio:active {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.album-info-wrapper {
  align-items: center;
  display: flex;
  justify-content:space-evenly;
  /* border: solid chartreuse; */
  margin: auto;
  margin-top: 15px;
  width: 80%;
}

.album-info-wrapper img {
  border-radius: 10px;
  width: 180px;
}

.album-info {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  width: 200px;
  /* border: solid yellow; */
  font-size: 20px;
}

h2 {
  color: rgb(28, 202, 255);
  font-weight: 700;
}


@media ( max-width : 600px ) {
  .music-card {
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
    /* border: solid yellow; */
    margin-top: 25px;
  }
  
  .music-card-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    /* border: solid lightcoral; */
    /* overflow-x: scroll; */
    width: 20%;
    min-width: 60px;
    max-width: 140px;
    height: 100%;
    max-height: 55px;
    font-size: 15px;
  }
  
  .audio-album {
    display: flex;
    justify-content: center;
    /* border: solid red; */
    width: 60%;
    height: 60px;
    padding: 10px;
  }
  
  .music-card label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 50px;
    font-size: 14px;
    /* border: solid seagreen; */
  }
  
  .favorite-album {
    height: 30%;
    width: 50%;
    margin-left: 5px;
  }
  
  audio {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    box-shadow: 2px 1px 3px 0 rgb(28, 202, 255);
    transition: all 0.7s linear;
    width: 85%;
    min-width: 130px;
    height: 100%;
  }
  
  audio:hover, audio:focus, audio:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }
  
  .album-info-wrapper {
    align-items: center;
    display: flex;
    justify-content:space-evenly;
    /* border: solid chartreuse; */
    margin: auto;
    margin-top: 15px;
    width: 90%;
  }
  
  .album-info-wrapper img {
    border-radius: 10px;
    width: 140px;
  }
  
  .album-info {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    width: 250px;
    /* border: solid yellow; */
    font-size: 15px;
  }

}

@media ( max-width : 450px ) {
  .audio-album {
    /* border: solid red; */
    width: 50%;
    height: 60px;
    padding: 2px;
  }

  audio {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    box-shadow: 2px 1px 3px 0 rgb(28, 202, 255);
    transition: all 0.7s linear;
    width: 75%;
    min-width: 100px;
    height: 100%;
  }

  .music-card-name {
    /* border: solid lightcoral; */
    min-width: 70px;
    max-width: 120px;
    font-size: 13px;
    overflow-x: auto;
    margin: 0px;
  }

  .music-card label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 50px;
    font-size: 14px;
    /* border: solid seagreen; */
    margin: 0;
  }
  
  .favorite-album {
    height: 30%;
    width: 40%;
    margin-left: 0;
  }
}
