.tracklist {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-top: 50px;
  width: 100%;
}

.music-card {
  align-items: center;
  display: flex;
  justify-content: space-around;
  margin-top: 25px;
}

.music-card-name {
  align-items: center;
  display: flex;
  font-size: 19px;
  height: 100%;
  margin: 10px;
  margin-left: 15px;
  min-width: 100px;
  width: 20%;
}

.audio-album {
  display: flex;
  height: 60px;
  justify-content: center;
  min-width: 100px;
  width: 55%;
}

.music-card label {
  align-items: center;
  display: flex;
  font-size: 20px;
  height: 50px;
  justify-content: center;
  margin-right: 15px;
  width: 120px;
}

.favorite-album {
  height: 50%;
  margin-left: 5px;
  width: 50%;
}

audio {
  background-color: rgb(242, 242, 242);
  border-radius: 8px;
  box-shadow: 2px 1px 3px 0 rgb(28, 202, 255);
  display: flex;
  height: 100%;
  justify-content: space-around;
  transition: all 0.7s linear;
  width: 75%;
}

audio:hover, audio:focus, audio:active {
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.05);
}

.album-info-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 15px;
  width: 80%;
}

.album-info-wrapper img {
  border-radius: 10px;
  width: 180px;
}

.album-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-left: 50px;
  width: 200px;
}

h2 {
  color: rgb(28, 202, 255);
  font-weight: 700;
}


@media ( max-width : 600px ) {

  .music-card {
    align-items: center;
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
    width: 98%;
  }

  .music-card-name {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    font-size: 15px;
    height: 100%;
    justify-content: center;
    max-height: 55px;
    max-width: 120px;
    text-align: center;
    width: 20%;
  }

  .audio-album {
    display: flex;
    height: 60px;
    justify-content: center;
    padding: 5px;
    width: 60%;
  }

  .music-card label {
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 50px;
    justify-content: center;
    width: 80px;
  }

  .favorite-album {
    height: 30%;
    margin-left: 5px;
    width: 50%;
  }

  audio {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    box-shadow: 2px 1px 3px 0 rgb(28, 202, 255);
    height: 100%;
    min-width: 130px;
    transition: all 0.7s linear;
    width: 85%;
  }

  audio:hover, audio:focus, audio:active {
    box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }

  .album-info-wrapper {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 15px;
    width: 90%;
  }

  .album-info-wrapper img {
    border-radius: 10px;
    width: 140px;
  }

  .album-info {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin-left: 50px;
    width: 250px;
  }

}

@media ( max-width : 450px ) {

  .audio-album {
    height: 60px;
    padding: 2px;
    width: 50%;
  }

  audio {
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    box-shadow: 2px 1px 3px 0 rgb(28, 202, 255);
    height: 100%;
    min-width: 100px;
    transition: all 0.7s linear;
    width: 75%;
  }

  .music-card-name {
    font-size: 13px;
    margin: 0;
    max-width: 120px;
    min-width: 70px;
    overflow-x: auto;
  }

  .music-card label {
    align-items: center;
    display: flex;
    font-size: 14px;
    height: 50px;
    justify-content: center;
    margin: 0;
    width: 70px;
  }

  .favorite-album {
    height: 30%;
    margin-left: 0;
    width: 40%;
  }
}
