.favorites-album-artwork {
  border-radius: 7px;
  height: 80px;
  margin-left: 5px;
  margin-right: 5px;
}

.favorite-songs-list h2 {
  align-items: center;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  width: 80%;
}

@media ( max-width : 500px ) {

  .favorites-album-artwork {
    border-radius: 7px;
    height: 55px;
  }

  .favorite-songs-list h2 {
    align-items: center;
    font-size: 13px;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    width: 80%;
  }
}
