.header-component {
  align-items: center;
  background-color: rgb(28, 202, 255);
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(21, 99, 130);
  display: flex;
  height: 60px;
  margin: auto;
  margin-top: 50px;
  padding: 5px 25px;
  position: relative;
  text-align: center;
  width: 88%;
}

.header-component a {
  border-radius: 10px;
  color: #edf7f8;
  flex-grow: 1;
  font-weight: 700;
  height: 20px;
  margin: 0 15px;
  padding: 10px;
  text-decoration: none;
}

.header-component a:hover {
  background-color: rgb(0, 87, 128);
  transition: all 1.5s;
}

.profile-container {
  align-items: center;
  display: flex;
  flex-grow: 4;
  justify-content: space-between;
  margin: 4px;
  width: 100%;
}

.header-user-name {
  align-items: center;
}

.header-user-name:hover {
  border-radius: 10px;
  transition: all 1.5s;
}

.user-name {
  margin-left: 5px;
}

.profile-container img {
  align-items: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
}


@media ( max-width : 600px ) {

  .header-component {
    min-width: 300px;
    padding: 5px;
    width: 90%;
  }

  .header-component a {
    font-weight: 500;
    margin-left: 0;
    text-decoration: none;
  }

  .profile-container {
    display: none;
  }


  .profile-container img {
    display: none;
  }

  .header-user-name {
    align-items: center;
    display: none;
  }

}
