.login-page {
  width: 40%;
  min-width: 350px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* border: solid yellow; */
}

.name {
  align-items: center;
  color: rgb(28, 202, 255);
  display: flex;
  font-weight: 700;
  justify-content: center;
  margin-top: -30px;
  text-align: center;
}

.name h1 {
  color: rgb(28, 202, 255);
}

.music {
  color: rgb(28, 202, 255);
  height: 50px;
  width: 100px;
}

.music a {
  color: rgb(28, 202, 255);
}

label {
  font-weight: 600;
  height: 20px;
  margin: 25px 0;
  width: 100%;
  /* border: solid green; */
}


input, textarea {
  border-radius: 5px;
  border-style: hidden;
  margin: auto;
  color: rgb(255, 255, 255);
  height: 30px;
  outline: transparent;
  width: 100%;
}

label input {
  display: block;
  /* border: solid yellow; */
  width: 100%;
}

textarea {
  height: 80px;
  color:rgb(0, 0, 0)
  /* resize: none; */
}

.login-description-input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-bottom: 0;
}

.upload-image-button {
  align-self: center;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: smaller;
  font-weight: 70;
  height: 12px;
  /* margin: -5px -5px;
  padding: 0px; */
  width: 100px;
  /* border: solid rgb(51, 255, 0); */
}

.upload-image-button button {
  margin: 5px 5px 0;
  padding: 5px;
  width: 50px;
}

.fa-headphones {
  height: 50px;
}


@media ( max-width : 500px ) {

  label {
    font-weight: 600;
    height: 20px;
    margin: 25px 0;
    width: 100%;
    /* border: solid green; */
  }


  input, textarea {
    border-radius: 5px;
    border-style: hidden;
    margin: auto;
    color: rgb(255, 255, 255);
    height: 30px;
    outline: transparent;
    width: 100%;
  }

  label input {
    display: block;
    /* border: solid yellow; */
    width: 100%;
  }

  textarea {
    height: 80px;
    color:rgb(0, 0, 0)
    /* resize: none; */
  }

}