.login-page {
  display: flex;
  width: 40%;
  min-width: 280px;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  justify-content: center;
  height: 100%;
  /* border: solid yellow; */
}

.page-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: solid magenta; */
  margin: auto;
  width: 80%;
  height: 100%;
  font-size: 14px;
  padding: 5px;
}

.login-name-input {
  color: rgb(1, 0, 0);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  /* border: solid brown; */
}

.label-login {
  margin-top: 10px;
  /* border: solid violet; */
}


.login-email-input {
  color: rgb(1, 0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  /* border: solid rgb(42, 165, 138); */
}

.container-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  color: rgb(28, 202, 255);
  display: flex;
  font-weight: 700;
  margin: auto;
  width: 80%;
  /* border: solid blueviolet; */
}

.container-login label {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
 /* padding: 5px; */

 /* border: solid coral; */
}

.container-login h1 {
  display: flex;
  justify-content: center;
  color: rgb(28, 202, 255);
  align-items: center;
}

.container-login form {
  flex-direction: column;
  color: rgb(28, 202, 255);
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 350px;
  /* border: solid rgb(94, 255, 0); */
}

.container-login textarea {
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 70px;
  border-radius: 5px;
  color: black;
  /* border: solid rgb(251, 255, 0); */
}

.music {
  color: rgb(28, 202, 255);
  height: 50px;
  width: 100px;
}

.login-image-input {
  /* border: solid navy; */
  display: flex;
  justify-content: center;
  width: 100%;
  height: 80px;
}

.music a {
  color: rgb(28, 202, 255);
}

.login-description-input {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 80px;
  margin-bottom: 0;
}

.upload-image-button {
  align-self: center;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: smaller;
  font-weight: 70;
  height: 50px;
  flex-wrap: wrap;
  /* margin: -5px -5px;
  padding: 0px; */
  width: 100%;
  /* border: solid rgb(197, 8, 8); */
}

.upload-image-button button {
  margin: 5px 5px 0;
  padding: 5px;
  width: 50px;
}

.fa-headphones {
  height: 50px;
}

.button-entrar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  width: 150px;
  cursor: pointer;
  /* border: solid blueviolet; */
}

.logotunes {
  width: 95%;
  height: 100px;
  border-radius: 15px;
  margin: 10px;
  border:none;
  box-shadow: 1px 2px 2px rgb(21, 99, 130);
}