.not-found {
  display: flex;
  margin: auto;
}

.not-results {
  display: flex;
  font-size: 13px;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}

@media ( max-width : 600px ) {

  .not-results {
    font-size: 10px;
  }
}