.profile-image {
  background-color: rgb(0, 0, 255);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  -webkit-transition: width 5s, height 5s, background-color 2s, -webkit-transform 2s;
  transition: width 5s, height 5s, background-color 2s, transform 2s;
  /* border: solid yellow; */
}

.profile-image:hover {
  background-color: #FFCCCC;
  box-shadow: 10px -10px 20px rgb(65, 150, 167);
  height: 280px;
  width: 280px;
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

h3 {
  font-weight: 700;
}

h1 {
  align-items: center;
  color: rgb(28, 202, 255);
  text-align: center;
  margin: 15px;
  /* border: solid yellow; */
}

.container-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  height: 90%;
  /* border: solid violet; */
}

.profile-name {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* border: solid greenyellow; */
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 80%;
  font-size: 16px;
}

.profile-email {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  /* border: solid greenyellow; */
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 80%;
  font-size: 16px;
}

.profile-description {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid greenyellow; */
  flex-wrap: wrap;
  margin: 10px;
  padding: 5px;
  width: 80%;
  font-size: 16px;
}

.button-edit-perfil {
  /* border: solid violet; */
  width: 150px;
  margin: 10px;
}

label {
  margin: 5px;
  /* border: solid blue; */
}