.page-profile-edit {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.page-profile-edit form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.page-profile-edit label {
  margin: auto;
  width: 100%;
}

.page-profile-edit input {
  border-radius: 5px;
  color: black;
  display: flex;
  flex-direction: column;
  height: 25px;
  margin: 8px;
  min-width: 200px;
  width: 85%;
}

.edit-input-description {
  display: flex;
  flex-direction: column;
  height: 120px;
  min-width: 200px;
  width: 90%;
}

.edit-input-description textarea {
  border-radius: 5px;
  color: black;
  height: 50px;
  margin: 10px;
  width: 85%;
}

.edit-button-save {
  align-items: center;
  display: flex;
  justify-content: center;
  text-decoration: none;
  width: 150px;
}

.edit-button-save link {
  text-decoration: none;
}

.page-profile-edit img {
  margin: 20px;
}

.edit-image-input-file input {
  color: white;
  width: 50%;
}
