.profile-image {
  background-color: rgb(0, 0, 255);
  border-radius: 50%;
  height: 180px;
  width: 180px;
  -webkit-transition: width 5s, height 5s, background-color 2s, -webkit-transform 2s;
  transition: width 5s, height 5s, background-color 2s, transform 2s;
}

.profile-image:hover {
  background-color: #FFCCCC;
  box-shadow: 10px -10px 20px rgb(65, 150, 167);
  height: 280px;
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  width: 280px;
}

h3 {
  font-weight: 700;
}

h1 {
  align-items: center;
  color: rgb(28, 202, 255);
  margin: 15px;
  text-align: center;
}

.container-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: center;
  margin: auto;
  width: 100%;
}

.profile-name {
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 80%;
}

.profile-email {
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  margin: 10px;
  padding: 5px;
  text-align: center;
  width: 80%;
}

.profile-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 16px;
  justify-content: center;
  min-height: 150px;
  width: 50%;
}

.profile-description h3 {
  display: flex;
  justify-content: center;
}

.profile-description textarea {
  color: black;
  height: 90px;
}

.button-edit-perfil {
  margin: 10px;
  width: 150px;
}

label {
  margin: 5px;
}
