.page-search {
  align-items: center;
  color: rgb(1, 0, 0);
  display: flex;
  flex-direction: row;
  height: 150px;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.search-artist-input {
}

.search-results {
  margin: auto;
  margin-top: 20px;
}

.search-div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
}

.search-div input {
  align-items: center;
  border-radius: 5px;
  color: rgb(1, 0, 0);
  display: flex;
  flex-direction: row;
  height: 35px;
  margin: 10px;
  min-width: 200px;
  padding: 5px;
  width: 80%;
}

.search-div button {
  font-weight: 800;
  height: 47px;
  margin: 10px;
  padding: 5px;
  width: 150px;
}

.search-results span {
  display: flex;
  flex-wrap: wrap;
  font-weight: 700;
  height: 50px;
  justify-content: center;
  margin: auto;
  width: 90%;
}

.searched-artist {
  color: #5edb9b;
}

.albumList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-top: 30px;
  width: 100%;
}

.album-card {
  background-color: rgb(8, 10, 10);
  border-radius: 10px;
  box-shadow: 2px 5px 5px rgb(36, 36, 36);
  height: 280px;
  margin: 10px;
  padding: 10px;
  width: 210px;
}

.album-card:hover {
  box-shadow: 2px 5px 10px rgb(28, 202, 255);
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  transition: 1.5s;
}

.album-artist-name {
  align-items: center;
  color: rgb(28, 202, 255);
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: center;
  margin-top: 0px;
  overflow-y: hidden;
  text-align: center;
  width: 100%;
}

.album-title {
  align-items: center;
  color: white;
  display: flex;
  height: 200px;
  justify-content: center;
  overflow: auto;
  text-align: center;
  width: 100%;
}

.album-card a {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 250px;
  text-decoration: none;
  width: 100%;
}

.album-card img {
  border-radius: 10px;
  display: flex;
  width: 130px;
}

.abum-artwork img {
  height: 100px;
  width: 150px;
}

.search-results .loading {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

@media ( max-width : 600px ) {

  .search-div input {
    height: 35px;
    margin: 10px;
    min-width: 200px;
    padding: 5px;
    width: 40%;
  }

  .search-div button {
    font-weight: 800;
    height: 45px;
    margin: 10px;
    padding: 5px;
    width: 120px;
  }

  .albumList {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
  }

  .album-card {
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 2px 5px 5px rgb(36, 36, 36);
    height: 210px;
    margin: 5px;
    width: 160px;
  }

  .album-artist-name {
    color: rgb(28, 202, 255);
    font-size: 14px;
    height: 35px;
    overflow: scroll;
  }

  .album-title {
    color: white;
    font-size: 12px;
    height: 150px;
    width: 100%;
  }

  .album-card a {
    height: 180px;
    margin-top: -3px;
  }

  .album-card img {
    border-radius: 10px;
    display: flex;
    padding: 4px;
    width: 110px;
  }
}
